//Colors
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);
$break-mobile: 760px;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    font-size: 13px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-grayish-blue;
    font-family: 'Manrope', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    max-width: 90vw;
    width: 730px;
    height: 280px;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;

    @media (max-width: $break-mobile) {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        width: 80vw;
    }
}

.card {
    background-color: white;
    border-radius: 0 1rem 1rem 0;
    padding: 3.2rem;

    @media (max-width: $break-mobile) {
        border-radius: 0 0 1rem 1rem;
        position: relative;
        padding: 0;
    }

    &-header-img {
        width: 100%;
        height: 100%;
        border-radius: 1rem 0 0 1rem;

        @media (max-width: $break-mobile) {
        border-radius: 1rem 1rem 0 0;
        }
    }

    &-body {
        @media (max-width: $break-mobile) {
            padding: 3.2rem 3.2rem 0 3.2rem;
        }        
        h2 {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 2rem;
            color: $very-dark-grayish-blue;
        }
        p {
            font-size: 1rem;
            margin-bottom: 2rem;
            color: $grayish-blue;
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $break-mobile) {
            padding: 0 2rem 2rem 2rem;
        }

        &-profile {
            display: flex;
            align-items: center;

            img {
                width: 3rem;
                border-radius: 50%;
                margin-right: 1rem;
            }

            h3 {
                font-size: 1rem;
                color: $very-dark-grayish-blue;
            }
            
            p {
                color: $grayish-blue;
            }
        }

        &-share {
            padding: 0.9rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &-icon {
                padding: 1.2rem;
                background-color: $light-grayish-blue;
                border-radius: 50%;
                cursor: pointer;
            }  
            
            &-box {
                position: relative;

                @media(max-width: $break-mobile){
                    position: initial;
                }

                &:before {
                    content: '';
                    border: 1rem solid transparent;
                    border-top-color: $very-dark-grayish-blue;
                    border-bottom: 0;
                    position: absolute;
                    bottom: 2rem;

                    @media(max-width: $break-mobile) {
                        display: none;
                    }
                }

                &-span {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    position: absolute;
                    left: -8.5rem;
                    background-color:$very-dark-grayish-blue;
                    bottom: 3rem;

                    border-radius: 0.4rem;
                    padding: 1rem 1.4rem;

                    @media(max-width: $break-mobile){
                        position: absolute;
                        width: 100%;
                        height: 30%;
                        left: 0;
                        bottom: 0;
                        border-radius: 0 0 1rem 1rem;
                        justify-content: left;
                    }

                    p {
                        letter-spacing: 0.5rem;
                        padding: 0 1rem;
                        color: $grayish-blue;
                    }

                    a {
                        padding: 0 0.6rem;
                    }
                }
            }
        }
    }
}

.hidden {
    display: none;
}

@media (max-width: $break-mobile) {
    .activated {
    position: absolute;
    left: 86%;
    top: 75%;
    }
}